
<tr class="device" id="<%= dom_id(device) %>">
  <td>status</td>
  <td><%= device.name %></td>
  <td>
    <%= link_to raw('<i class="glyphicon glyphicon-edit"></i> Edit'), edit_user_device_path(device.user, device), class: 'btn btn-sm btn-default', remote: true %>
    <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Remove'), user_device_path(device.user, device), class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'}, remote: true, method: :delete %>
  </td>
</tr>

