
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Mobile Authentication App</h1>
    </div>

    <p>Welcome to the webserver of the mobiel authentication app. Below, you can
    add the devices you want to link to your identity.</p>
    
    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> In case of theft or loss of your device, unlink
      the device immediately through this interface.
    </div>

    <div class="table-responsive">
      <table id="devices" class="table">
        <thead>
          <th>Status</th>
          <th>Device Name</th>
          <th>Actions</th>
        </thead>
        <tbody>
        <%= render @devices %>
        <%= render "new", object: @user.devices.build %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="link-modal" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close link-modal-close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Link Device</h4>
      </div>
      <div class="modal-body">
        <p>HELLO</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default link-modal-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="link-modal-save">Save Changes</button>
      </div>
    </div>
  </div>
</div>
