
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Welcome!</h1>
    </div>

    <p>This is still an application under construction. As user management is
    not yet implemented, select one of the users listed below to test the
    application.</p>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %></p>

    <ul>
      <%= render @users %>
    </ul>
  </div>
</div>

