// Place all the styles related to the Certificates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fakesite {
	background: image-url("screenshot_Egov.png") ;
	background-repeat: no-repeat !important;

	background-color: green !important;

	position: absolute !important;

	margin-left: -350px  !important;
	width: 1800px !important;


	/*background-size: 90.5% 100%;
	height: 100%;
	width: 100%;
	position: fixed;
	margin-top: -4px;
	margin-left: -375px;
	top: 0px;*/
}

.test {
	background-color: #888888 !important;
	margin-top: 438px !important;
	margin-left: 1345px !important;
	height: 30px !important;
	width: 130px !important;
	color: white;
	font-size: 210%;
}