<p>Install <%= @app_name %> on your smartphone.</p>

<div>
  <img src="<%= image_path('apple-button.jpg') %>" height="40px" alt="Install on App Store" />
  <img src="<%= image_path('google-button.png') %>" height="40px" alt="Install on Play Store" />
</div>
