<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="link-modal-label">Link Device</h4>
</div>
<div class="modal-body">
  <%= render @wizard.current %>
</div>
<div class="modal-footer">
  <%= render 'footer' %>
</div>
